* {
  box-sizing: border-box;
  font-family: monospace;
  color: rgb(99, 98, 98);
}

body {
  margin: 0;
  background-color: lightgrey;
}
.card-container {
  margin: 0;
  padding: 0;
}
.input-container {
  /* position: relative; */
  border-top: 0.5px solid rgb(218, 218, 218);
  padding: 0.2rem 0.2rem 0.1rem 1rem;
  box-sizing: border-box;
}

.card-body,
.row {
  padding: 0;
  margin: 0;
}

.desc > input {
  /* height: 100%; */
  width: 100%;
  border: none;
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
}

.input-label,
.input-label > span {
  padding: 0 !important;
  font-size: 0.8rem;
  margin: 0 !important;
  font-weight: bold;
}

select {
  border: none !important;
  padding-left: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.button-container {
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.button-container > button {
  border-radius: 0.1rem !important;
  width: 48%;
  font-size: 1rem;
  padding: 0.8rem 0.1rem 0.8rem 0.1rem !important;
}

#delete-task-button > span {
  letter-spacing: 1px;
  word-spacing: 0em;
}

.checkbox-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: grey;
  padding: 0.4rem 0.2rem 0.8rem 0.2rem;
}

.task-detail {
  display: flex;
  flex-direction: column;
}

.task-date {
  margin-left: 2.5rem;
  font-size: 0.8rem;
  color: rgb(161, 161, 161) !important;
}
.task-date i {
  color: rgb(161, 161, 161);
}

.form-check-label {
  font-weight: bold;
}

.task-category {
  width: 8rem;
  border: none;
}
.btn-work {
  background-color: yellow;
  color: black;
}

.btn-personal {
  background-color: green;
  color: black;
}

.btn-school {
  background-color: blue;
  color: white;
}

.btn-cleaning {
  background-color: red;
  color: white;
}

.btn-other {
  background-color: lightgrey;
  color: black;
}
